@theme {
  --animate-pop-in: pop-in 0.25s ease-in-out forwards;
  --animate-pop-in-up: pop-in-up 0.5s ease-in-out forwards;
  --animate-pop-in-soft: pop-in-soft 0.25s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-pop-out-soft: pop-out-soft 0.25s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-fade-in: fade-in 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-opacity-out: opacity-out 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.25);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes pop-in-up {
  0% {
    opacity: 0;
    transform: scale(1) translateY(32px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes pop-in-soft {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes pop-out-soft {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
